



.navbar{
  width: 100%;
  padding: 1em;
  background-color: #000000ea;

}

nav a{
  color: #fff;
  font-size: 1.2em;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.5s ease;
  border-radius: 15px;
}



nav a:hover{
  transform: scale(1.2);
  background-color: #fff;
  color: #000;

}

nav{
  width: min(90vw,650px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}



a{
  text-decoration: none;
}


#Home{
  width: 100%;
  color: #fff;
  min-height: 1000px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-position 0.5s ease;
}


.interests{
  position: absolute;
  margin: 0 auto;
  top: 5%;

}


.self{
   width: min(550px, 75vw);
}


.card{
  width: 100%;
  padding: 1em;
  background-color: aquamarine;
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 30px;
  z-index: -1;
}


.links img{
  width: 30px;
  height: 30px;
  transition: transform 0.5s ease;
}

.links img{
  margin-right: 15px;
}


.links img:hover{
  transform: scale(1.2);
}


.profile{
  width: 100%;
  animation: showUp 1s ease-in forwards;
  z-index: 3;
}

.cursor{
  height: 100%;
  width: 5px;
  background-color: #fff;
  animation: blink 0.5s step-end infinite;
}

.type{
   font-size: 1.3em;
}


@keyframes blink {
  from, to{border-right: 0.15em solid orange;}
  50%{
    border-right: none;
  }
}

@keyframes showUp {
  0%{
    transform: translateY(20%);
  }
  100%{
    transform: translateY(0.5%);
  }
}